<div class="row">
  <div class="col-md-8">
    <div class="board">
      <h1><%= @board.title %></h1>

      <p>
        <% @board.places.each do |place| %>
          <ul>
            <%= place.name %>
            <%= place.country %>

          </ul>
        <% end %>

      </p>

      <div>
        <% @board.uploads.each do |upload| %>
          <ul>
            <%= cl_image_tag upload.image %>
            <%= upload.information %>
          </ul>
        <% end %>
      </div>

    </div>
  </div>


<% if @current_user.present? %>
  <% if @current_user.boards.include?(@board) %>
    <h2>New Place</h2>
    <%= render :partial => 'places/form' %>
    <hr>
    <% if @board.places.any? %>
      <h2>New Upload</h2>
      <%= render :partial => 'uploads/form' %>
    <% end %>
  <% end %>
<% end %>



<div class="controls">
  <%= link_to "Edit Board", edit_board_path(@board) %>
  <%= link_to "Delete Board", @board, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>

</div>
