

<% @upload = Upload.new unless @upload.present? %>
<%= form_for(@upload, :html => {:multipart => true}) do |f| %>
  <%= f.hidden_field :board_id, :value => @board.id %>

  <div class="form-group">
    <%= f.label :place_id %>
    <%= f.select :place_id, @board.places.pluck(:name, :id) %>
  </div>


  <div class="form-group">
    <%= f.label :image %>
    <%= f.cl_image_upload :image, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :information %>
    <%= f.text_field :information, :class => 'form-control' %>
  </div>

  <%= f.submit :class => 'btn btn-default' %>
  <% end %>
