<h1>Show Upload</h1>

  <ul>
    <% unless @upload.image.nil? %>
    <li><%= image_tag @upload.image %></li>
    <%end%>
    <li><%= @upload.information %></li>

  </ul>

<div class="controls">
  <%= link_to "Edit Upload", edit_upload_path(@upload) %>

</div>

  <% @upload.board.each do |board| %>
    <%= link_to board.title, board %>
    <% end %>

    <% @upload.place.each do |place| %>
    <%= link_to place.name, place %>
    <% end %>
