
<h1><%= @place.name %></h1>


  <ul>
    <li><%= @place.name %></li>

    <li><%= @place.country %></li>

  </ul>


  <% @place.boards.each do |board| %>
    <%= link_to board.title, board %>
    <% end %>

    <%= @place.uploads.each do |upload| %>
    <%= link_to cl_image_tag(upload.image), upload %>
    <%= link_to upload.information, upload %>
    <% end %>

<div class="controls">
  <%= link_to "Edit Place", edit_place_path(@place) %>
  <%= link_to "Delete Place", @place, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
